li  {
  background-color: powderblue;
}
<<<<<<< HEAD
//img {
  //float: right;
//}
=======
>>>>>>> 6967e7e2fe1073acd4e9fa1b23925fd7f8ec37a1
h1 {
  color: blue;
}
p {
  color: red;
}
<<<<<<< HEAD

h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
p {
  border: 2px solid powderblue;
  margin: 50px;
  
    font-size : 20px;
    font-weight : bold;
    color : rgb(255, 187, 0);

}
main {
  background: rgb(66, 6, 9);
}
=======
>>>>>>> 6967e7e2fe1073acd4e9fa1b23925fd7f8ec37a1
