body {

  background-color: rgb(13 86 156);

}

li  {
  background-color: powderblue;
  
}

h1 {text-align: center;
background-color: rgb(6 66 55);
  color: #e4ff00;
}
p {
  color: red;
}

img {
  border-radius: 8px;
}
// h1 {border-style: outset;
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
p {
  
  border: 2px solid powderblue;
  margin: 50px;
  
    font-size : 20px;
    font-weight : bold;
    color : rgb(255, 187, 0);

}
main {
  
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

  border-style: inset;
  background: rgb(6 66 55);
}

